@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Rubik', sans-serif;
}

@font-face {
  font-family: "Vazir";
  src: url("/assets/Vazir.ttf") format("ttf"),
       url("/assets/Vazir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.font-sans {
  font-family: 'Rubik', sans-serif;
}

.rtl-grid {
  direction: rtl;
}